.GridWrap {
  display: flex;
  width: 1180px;
  margin: 60px auto 200px;

  .gridArea {
    position: relative;
    width: 578px;
    margin-right: 24px;
    background: #f2f2f2;

    a {
      display: block;
      height: 165px;
      padding: 24px 168px 0 32px;

      strong {
        display: block;
        color: #101010;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
      }

      p {
        padding: 8px 0 20px;
        color: #101010;
        font-size: 15px;
        line-height: 23px;
      }

      .link {
        display: inline-block;
        position: relative;
        padding-left: 24px;

        img {
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0;
          top: 3px;
        }

        span {
          color: #101010;
          margin-left: 3px;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
        }
      }

      img {
        position: absolute;
        width: 120px;
        height: 120px;
        right: 32px;
        top: 31px;
      }
    }
  }
  .rightArea {
    margin: 0;

    .linkTime {
      span {
        margin: 0 6px 0 3px;
      }

      .timeRemaining {
        position: absolute;
        left: 100px;
        width: 50px;
        color: #606060;
        font-size: 13px;
        line-height: 27px;
      }
    }

    .cookie {
      width: 110px;
      height: 110px;
    }
  }
}
