@import '/src/Styles/variables.scss';

.Cart {
  margin: 70px auto;
  width: 1180px;

  .title {
    @include flexSet(space-between);
    margin-bottom: 50px;

    h1 {
      font: {
        size: 48px;
        weight: bold;
      }
    }

    div {
      @include flexSet;

      div {
        @include flexSet(space-between, center, column);
        margin-left: 10px;

        .iconBackground {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: rgb(241, 241, 241);
          img {
            width: 40px;
            margin-top: 20px;
          }
        }

        &.cartIcon {
          background-color: $primaryColor;
        }

        .iconText {
          padding-top: 20px;
        }
      }
    }
  }

  .cartInformation {
    .cartTop {
      @include flexSet(flex-start);
      padding: 25px 0;
      border-bottom: 3px solid $basicBlack;

      input {
        margin-right: 15px;
        background-color: $primaryColor;
      }

      div {
        padding-right: 25px;
        font: {
          size: 28px;
          weight: bold;
        }
      }

      button {
        padding: 5px 30px;
        border: $grayBorder;
      }
    }

    .shoppingList {
      margin-bottom: 25px;
      border: $grayBorder;

      .arrivalDate {
        @include flexSet(flex-start);
        padding: 25px 15px;

        // input {
        //   padding-right: 25px;
        //   border: 50%;
        //   background-color: $primaryColor;
        // }

        div {
          font: {
            size: 22px;
            weight: bold;
          }
        }
      }

      .shoppingProduct {
        @include flexSet(flex-start);
        border-top: $grayBorder;
        padding: 25px;

        img {
          width: 80px;
        }

        .prodcutInfo {
          flex-grow: 1;
          margin-left: 15px;
          font: {
            size: 18px;
            weight: bold;
          }

          div {
            padding: 5px 0;
          }
        }

        .quantityButtons {
          @include flexSet(space-between);
          width: 110px;
          margin-right: 50px;
          padding: 5px 10px;
          border: $grayBorder;

          span {
            font: {
              size: 22px;
              weight: bold;
            }
          }

          button {
            font: {
              size: 22px;
              weight: bold;
            }
          }
        }

        .productPrice {
          margin-right: 15px;
          font: {
            size: 22px;
            weight: bold;
          }
        }

        .deleteButton {
          color: $basicGray;
          font-size: 26px;
        }
      }

      .shoppingPrice {
        padding: 35px 0;
        background-color: rgb(241, 241, 241);
        text-align: center;

        span {
          padding: 0 25px;
          font: {
            size: 20px;
            weight: bold;
          }
        }
      }
    }

    .totalShoppingPrice {
      @include flexSet;
      padding: 30px 0;
      border-top: 3px solid $basicBlack;
      border-bottom: $grayBorder;
      text-align: center;

      div {
        padding: 10px 20px;

        .priceTitle {
          font: {
            size: 16px;
            weight: bold;
          }
        }

        .accent {
          font: {
            size: 32px;
            weight: bold;
          }
        }

        .totalPrice {
          color: $basicRed;
          font: {
            size: 32px;
            weight: bold;
          }
        }
      }

      .priceOperator {
        font: {
          size: 32px;
          weight: bold;
        }
      }
    }

    .purchaseButtons {
      margin-top: 30px;
      text-align: center;

      button {
        padding: 15px 45px;
        font: {
          size: 20px;
          weight: bold;
        }

        &.selectedButton {
          margin-right: 15px;
          border: 1px solid $basicBlack;
        }

        &.allButton {
          background-color: $primaryColor;
        }
      }
    }
  }
}
