.NoticeWrap {
  width: 100%;
  min-width: 1260px;
  height: 64px;
  margin-top: 140px;
  border-top: 1px solid #e0e0e0;

  .notice {
    width: 1180px;
    margin: 0 auto;
    padding-top: 20px;

    dt {
      float: left;
      width: 300px;
      color: #101010;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
    }

    dd {
      padding-right: 24px;
      color: #606060;
      font-size: 15px;
      line-height: 23px;
    }
  }
}
