@import '/src/Styles/variables.scss';

.Nav {
  .gnbWrap {
    min-width: 1260px;
    height: 35px;
    background-color: $basicBlack;

    .gnbMenu {
      @include flexSet(flex-end);
      max-width: 1920px;
      min-width: 1260px;
      padding-right: 40px;

      a {
        margin-top: 8px;
        color: #fff;
        font-size: 13px;
        line-height: 21px;

        &::before {
          content: '';
          display: inline-block;
          position: relative;
          width: 1px;
          height: 12px;
          margin: 0 12px;
          background-color: rgba(255, 255, 255, 0.2);
          vertical-align: middle;
        }

        &:first-child::before {
          display: none;
        }
      }
    }
  }

  .menuContainer {
    @include flexSet(space-between, normal);
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1260px;
    height: 81px;

    .logo {
      margin: 25px 0 0 40px;
    }

    .listMenu {
      @include flexSet(normal, center);

      a {
        padding: 0 32px;
        color: $basicBlack;
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
      }
    }

    .myMenu {
      display: flex;

      ul {
        @include flexSet(normal, center);
        margin-right: 40px;

        li {
          margin-left: 20px;

          img {
            width: 30px;
            height: 30px;
            margin-bottom: 4px;
          }
        }
      }

      span {
        display: block;
        margin-top: -2px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -1px;
        color: $basicBlack;
      }
    }
  }
}
