@import '/src/Styles/reset.scss';
@import '/src/Styles/common.scss';

.Nav {
  .gnb_wrap {
    min-width: 1260px;
    height: 35px;
    background-color: $Basic-black;

    .gnb_util {
      display: flex;
      max-width: 1920px;
      min-width: 1260px;
      justify-content: flex-end;
      padding-right: 40px;

      a {
        margin-top: 8px;
        color: #fff;
        font-size: 13px;
        line-height: 21px;
        text-decoration: none;

        &::before {
          content: '';
          display: inline-block;
          position: relative;
          width: 1px;
          height: 12px;
          margin: 0 12px;
          background-color: rgba(255, 255, 255, 0.2);
          vertical-align: middle;
        }

        &:first-child::before {
          display: none;
        }
      }
    }
  }
  .gnb_menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1920px;
    min-width: 1260px;
    height: 81px;
    border-bottom: $grey-border;

    .logo {
      margin: 25px 0 0 40px;
    }

    .list_menu {
      display: flex;
      align-items: center;

      a {
        padding: 0 32px;
        color: $Basic-black;
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        text-decoration: none;
      }
    }

    .my_menu {
      display: flex;

      ul {
        display: flex;
        align-items: center;
        margin-right: 40px;

        li {
          margin-left: 20px;

          img {
            width: 30px;
            height: 30px;
            margin-bottom: 4px;
          }
        }
      }

      span {
        display: block;
        margin-top: -2px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -1px;
        color: $Basic-black;
      }
    }
  }
}
