@import '/src/Styles/variables.scss';

.CartInformation {
  // display: none;
  margin: 25px 0;
  border-top: $grayBorder;
  border-bottom: $grayBorder;

  .deliveryDate {
    @include flexSet(space-between);
    padding: 15px;
    font-size: 15px;
  }

  .selectQuantity {
    @include flexSet(space-between);
    align-content: space-between;
    flex-wrap: wrap;
    padding: 20px 15px;
    border-top: $grayBorder;
    font: {
      size: 16px;
      weight: bold;
    }

    .productTitle {
      width: 220px;
      padding: 10px 0;
    }

    .quantityButtons {
      width: 95px;
      padding: 5px;
      border: $grayBorder;

      span {
        margin: 0 15px;
      }

      button {
        border: none;
        background-color: white;

        &.quantityMinus {
          padding-bottom: 2px;
          font-size: 23px;
        }

        &.quantityPlus {
          font-size: 20px;
        }
      }
    }
  }
}
