@import '/src/Styles/variables.scss';

.DetailBody {
  .detailGnb {
    @include flexSet;
    position: sticky;
    top: 0;
    height: 10vh;
    margin-top: 100px;
    border-bottom: $grayBorder;
    background-color: white;
    text-align: center;
    z-index: 10;

    ul {
      display: flex;
      width: 1180px;
      list-style: none;

      li {
        display: inline;
        width: 195px;
        height: 75px;
        padding-top: 30px;
        cursor: pointer;

        &:active {
          border-bottom: 7px solid black;
        }
        font: {
          size: 20px;
          weight: bold;
        }
      }
    }
  }

  .detailContents {
    display: flex;
    justify-content: center;

    .descriptions {
      height: 3000px;
      img {
        margin-top: 30px;
      }
    }

    .sideCart {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 10vh;
      width: 320px;
      height: 90vh;
      padding: 20px 0;
      margin-left: 76px;
      border: $grayBorder;
      border-top: none;

      select {
        width: 300px;
        height: 50px;
        padding: 5px;
        margin: 10px;
        border: $grayBorder;
        color: $basicDarkgray;
        font-size: 16px;
      }
    }
  }
}
