@import '/src/Styles/variables.scss';

@mixin headInfoSet($padding: 20px) {
  display: flex;
  padding: $padding 0;
  font-size: 14px;
}

.DetailHead {
  display: flex;
  justify-content: center;
  margin: 50px auto;

  .headLeft {
    .subInfo {
      @include flexSet(space-between);
      width: 600px;
      padding: 0 25px;
      margin: 20px 0;
      font-size: 20px;

      .evaluation {
        display: flex;

        div {
          margin-right: 10px;

          &.reviewCount {
            padding-left: 10px;
            border-left: 1px solid $basicGray;
          }

          span {
            font-weight: bolder;
          }
        }
      }

      .recipeShare {
        display: flex;

        div {
          display: flex;
          align-items: center;
          margin-left: 10px;
          font-size: 16px;
          cursor: pointer;

          img {
            width: 22px;
            height: 22px;
            margin-right: 5px;
            opacity: 0.7;
          }
        }
      }
    }
  }

  .headRight {
    width: 500px;
    margin-left: 80px;

    .flagWrap {
      margin: 4px 0;

      .limitedFlag {
        padding: 5px;
        background-color: #ee0700;
        color: white;
        font-size: 12px;
        font-weight: bold;
      }

      .newFlag {
        padding: 5px 12px;
        background-color: $primaryColor;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .titleWrap {
      margin: 35px 0;

      .subTitle {
        margin: 5px 0;
        font: {
          size: 30px;
          weight: bold;
        }
      }

      .mainTitle {
        margin: 5px 0;
        font: {
          size: 30px;
          weight: bold;
        }
      }

      .origin {
        font: {
          size: 30px;
          weight: 300;
        }
      }
    }

    .subInfo {
      display: flex;
      padding-bottom: 10px;
      border-bottom: $grayBorder;
      flex-direction: row;
      font-size: 15px;

      div {
        margin: 3px 15px 3px 0;

        &.gram,
        &.calorie {
          padding-right: 15px;
          border-right: $grayBorder;
        }
      }
    }

    .priceInfo {
      display: flex;
      align-items: center;
      padding: 20px 0;
      border-bottom: $grayBorder;

      .priceTitle {
        width: 100px;
        font: {
          size: 15px;
          weight: bold;
        }
      }

      .priceText {
        font: {
          size: 26px;
          weight: bold;
        }
      }
    }

    .pointInfo {
      @include headInfoSet;
      border-bottom: $grayBorder;
      .pointTitle {
        width: 100px;
        color: $basicDarkgray;
      }
      .pointText {
        display: flex;
        align-items: center;

        span {
          color: $basicGreen;
        }

        img {
          width: 15px;
          opacity: 0.7;
        }
      }
    }

    .deliverymethod {
      @include headInfoSet;

      .deliverymethodTitle {
        width: 100px;
        color: $basicDarkgray;
      }

      .deliverymethodText {
        display: flex;
        align-items: center;

        img {
          width: 15px;
          opacity: 0.7;
        }
      }
    }

    .deliveryprice {
      @include headInfoSet(0);
      margin-bottom: 30px;

      .deliverypriceTitle {
        width: 100px;
        color: $basicDarkgray;
      }
    }

    .cart {
      padding: 20px 0;
      border-top: 2px solid $basicBlack;

      select {
        width: 500px;
        height: 50px;
        padding: 5px;
        border: $grayBorder;
        color: $basicDarkgray;
        font-size: 16px;
      }

      .headCartInformation {
        border-right: $grayBorder;
        border-left: $grayBorder;
      }
    }
  }
}
