@import '/src/Styles/variables.scss';

.headPutCart {
  .selectedInfo {
    @include flexSet(space-between);
    margin-top: 20px;

    .finalQuantity {
      font: {
        size: 20px;
        weight: bold;
      }
    }

    .finalPrice {
      color: $basicRed;
      font: {
        size: 32px;
        weight: bold;
      }
    }
  }

  .finalButtons {
    display: flex;
    justify-content: space-between;
    height: 54px;
    margin-top: 15px;

    .likeButton {
      width: 54px;
      border: 1px solid black;
      background-color: white;

      img {
        width: 25px;
        height: 25px;
      }
    }

    .cartButton {
      width: 430px;
      border: none;
      background-color: $primaryColor;
      font: {
        size: 16px;
        weight: bold;
      }
    }
  }
}
